<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>USN</string>
	<string>USUK</string>
	<string>USUK#</string>
	<string>USUKN</string>
	<string>US</string>
	<string>AU</string>
	<string>UK</string>
	<string>KR</string>
	<string>DE</string>
	<string>FR</string>
	<string>EU</string>
	<string>JP</string>
	<string>IT</string>
</array>
</plist>
