<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USUK</key>
	<array>
		<string>34</string>
		<string>36</string>
		<string>38</string>
		<string>40</string>
		<string>42</string>
		<string>44</string>
		<string>46</string>
	</array>
	<key>EU</key>
	<array>
		<string>86</string>
		<string>91</string>
		<string>96</string>
		<string>101</string>
		<string>106</string>
		<string>111</string>
		<string>116</string>
	</array>
</dict>
</plist>
