<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>US</key>
	<array>
		<string>5</string>
		<string>5.5</string>
		<string>6</string>
		<string>6.5</string>
		<string>7</string>
		<string>7.5</string>
		<string>8</string>
		<string>8.5</string>
		<string>9</string>
		<string>9.5</string>
		<string>10</string>
		<string>10.5</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>15.5</string>
	</array>
	<key>EU</key>
	<array>
		<string>35</string>
		<string>35.5</string>
		<string>36</string>
		<string>37</string>
		<string>37.5</string>
		<string>38</string>
		<string>38.5</string>
		<string>39</string>
		<string>40</string>
		<string>41</string>
		<string>42</string>
		<string>43</string>
		<string>44</string>
		<string>45</string>
		<string>46.5</string>
		<string>48.5</string>
	</array>
	<key>JP</key>
	<array>
		<string>21</string>
		<string>21.5</string>
		<string>22</string>
		<string>22.5</string>
		<string>23</string>
		<string>23.5</string>
		<string>24</string>
		<string>24.5</string>
		<string>25</string>
		<string>25.5</string>
		<string>26</string>
		<string>27</string>
		<string>28</string>
		<string>29</string>
		<string>30</string>
		<string>31</string>
	</array>
	<key>UK</key>
	<array>
		<string>2.5</string>
		<string>3</string>
		<string>3.5</string>
		<string>4</string>
		<string>4.5</string>
		<string>5</string>
		<string>5.5</string>
		<string>6</string>
		<string>6.5</string>
		<string>7</string>
		<string>7.5</string>
		<string>8</string>
		<string>9.5</string>
		<string>10.5</string>
		<string>11.5</string>
		<string>13</string>
	</array>
	<key>AU</key>
	<array>
		<string>3.5</string>
		<string>4</string>
		<string>4.5</string>
		<string>5</string>
		<string>5.5</string>
		<string>6</string>
		<string>6.5</string>
		<string>7</string>
		<string>7.5</string>
		<string>8</string>
		<string>8.5</string>
		<string>9</string>
		<string>10.5</string>
		<string>11.5</string>
		<string>12.5</string>
		<string>14</string>
	</array>
	<key>KR</key>
	<array>
		<string>228</string>
		<string>231</string>
		<string>235</string>
		<string>238</string>
		<string>241</string>
		<string>245</string>
		<string>248</string>
		<string>251</string>
		<string>254</string>
		<string>257</string>
		<string>260</string>
		<string>267</string>
		<string>273</string>
		<string>279</string>
		<string>286</string>
		<string>292</string>
	</array>
</dict>
</plist>
